.Home{
    padding: 100px 30px 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
    *{
        font-weight: lighter;
    }
    img{
        max-height: 750px;
        object-fit: scale-down;
    }
    .details{
        cursor: default;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        max-width: 510px;
        min-width: 400px;
        gap: 20px;
        h2{
            font-size: 20px;
        }
        p{
            font-size: 14px;
            line-height: 25px;
        }
        a{
            border: none;
            width: fit-content;
            padding: 15px 20px;
            border-radius: 30px;
            color: rgba(0, 0, 0, 0.3);
            text-decoration: none;
            margin: 30px auto;
            position: relative;
            overflow: hidden;
            border: 2px solid rgba(0, 0, 0, 0.1);
            /* box-shadow: inset 0 0 10px rgb(192, 185, 177); */
            font-weight: normal;
            .background{
                border-radius: 30px;
                background: rgb(113, 107, 98);
                position: absolute;
                height: 100%;
                width: 105%;
                left: -200px;
                top: 0;
                z-index: -1;
            }
            &:hover{
                color: rgb(240, 240, 240);
                border-color: rgb(113, 107, 98);
                box-shadow: inset 0 0 0 1px rgb(113, 107, 98);
                .background{
                    animation: come-in 0.15s ease-out;
                    left: 0px;
                }
            }
        }
        .icons{
            display: flex;
            margin: 100px auto 0;
            gap: 50px;
            i{
                font-size: 18px;
                position: relative;
                top: 3px;
            }
            p{
                font-size: 14px;
            }
            i, p{
                cursor: pointer;
            }
        }
    }
}

@keyframes come-in {
    from {left: -180px;}
    to {left: 1px;}
}

@media (max-width: 900px) {
    .Home{
        padding: 12px 20px 60px;
        flex-direction: column;
        margin: auto;
        width: fit-content;
        img{
            width: 100%;
        }
        .details{
            min-width: 300px;
            margin-top: 0;
            margin: auto;
        }
    }
}
