table{
    margin: 30px auto;
    width: 1000px;
    border-spacing: 0;
    font-size: 16px;
    th{
        padding-bottom: 20px;
    }
    .price{
        text-align: right;
    }
    .sale{
        color: green;
    }
    th{
        color: rgba(0, 0, 0, 0.7);
        text-align: left;
        background: white;
    }
    tr:nth-child(even) {
        background: rgb(243, 236, 228);
    }
    tr{
        cursor: pointer;
        color: rgba(0, 0, 0, 0.6);
        &:hover{
            background: rgb(205, 205, 205);
            .price{
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
    td{
        padding: 15px 5px;
    }
}

@media (max-width: 900px) {
    table{
        width: 90vw;
        font-size: 14.5px;
        tr{
            cursor: pointer;
            td{
                padding: 15px 6.5px;
            }
            th{
                padding-left: 10px;
                font-size: 12px;
            }
            &:hover{
                &:nth-child(even){background: rgb(243, 236, 228)};
                background: white;
                td{
                    color: rgba(0, 0, 0, 0.6);
                }
                .price{
                    color: green;
                }
            }
        }
    }
}
