table{
    margin: 30px auto;
    width: 1000px;
    border-spacing:0;
    font-size: 16px;
    th{
        padding-bottom: 20px;
    }
    .price{
        text-align: right;
    }
    .sale{
        color: green;
    }
    th{
        text-align: left;
        background: white;
    }
    tr:nth-child(even) {
        background: rgb(243, 236, 228);
    }
    tr{
        cursor: pointer;
        &:hover{
            background: rgba(0, 0, 0, 0.5);
            td, .price{
                color: white
            }
        }
    }
    td{
        padding: 15px 5px;
    }
}

@media (max-width: 900px) {
    table{
        width: 80%;
        padding: 10px;
        font-size: 14px;
        tr{
            cursor: pointer;
            th{
                font-size: 12px;
            }
            &:hover{
                &:nth-child(even){background: rgb(243, 236, 228)};
                background: white;
                td, .price{
                    color: black;
                }
            }
        }
    }
}
