.pie-chart-container{
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
    position: sticky;
    top: 0;
    .donut{
        width: 100%;
        position: relative;
        .pie-chart{
            height: auto;
        }
        .munchkin{
            position: absolute;
            border-radius: 50%;
            width: 50%;
            aspect-ratio: 1;
            background-color: white;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 99;
        }
    }
    .legend{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .row{
            display: flex;
            gap: 10px;
            color: rgba(0, 0, 0, 0.5);
            .color{
                width: 15px;
                height: 15px;
            }
        }
    }
}
@media (max-width: 900px) {
    .pie-chart-container{
        margin-bottom: 75px;
        position: static;
    }
}
